.Rproj.user
.Rhistory
.RData
.Ruserdata
PortalDatav115
NDVI/locations/
NDVI/compare_old_SEV_data/
NDVI/GEEcode/gee_NDVI_Landsat5_SR_JRN_SMES_blackgrama.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_JRN_SMES_creosote.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_JRN_ecotone12.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_JRN_ecotone3.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_JRN_ecotone9.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_SEV_5pgrass.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_SEV_5plarrea.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_SEV_blugrama.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_SEV_goatdraw.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_SEV_rsgrass.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_SEV_rslarrea.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_SEV_savanna.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_SEV_two22.txt
NDVI/GEEcode/gee_NDVI_Landsat5_SR_SGS.txt
NDVI/GEEcode/gee_maplocations.txt
